<?xml version="1.0" encoding="iso-8859-1"?>
<config>
	<info>
		<type>all</type>
		<id>1C9A7C34-2555-4AAA-92FBB7FC7111140C</id>
		<name>loganalyzer</name>
		<label>LogAnalyzer</label>
		<description>This extension adds a plugin to your Lucee server/web admin, to view the Lucee log files</description>
		<version>2.3.0.4</version>
		<category>admin plugin</category>
		<image>logo.png</image>
		<paypal></paypal>
		<author>Gert Franz and Paul Klinkenberg</author>
		<codename>loganalyzer</codename>
		<video></video>
		<support>http://www.lucee.nl/post.cfm/railo-admin-log-analyzer</support>
		<created>2015-03-23 22:30:11</created>
		<provider>http://www.getrailo.org/ExtensionProvider.cfc</provider>
	</info>
</config>